.App {
  text-align: center; 
}

#Home-Page-Header {
  position: absolute;
  top: 1%;
  font-size: 100px;
}

#Search-Bar {
  position: absolute;
  top: 20%;
  size: 200%;
}

.App-header {
  background-image: url("home-background.jpg");
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

